body {background-color: #d3d5fd;
}
hr {background-color: #474a56;border-style: dotted none none; border-color: #ffb0fe; border-width: 5px; width:100%;}
h1{color:#ff00c8; font-family: sans-serif;}
h3{color:#ed0cef; font-family:monospace;}
a {color:#8105d8;}
